---
layout: archive
title: "Projects"
permalink: /projects/
author_profile: true
---

{% include base_path %}

<!-- {% assign sorted_projects = site.projects | sort:"name" %}
{% for post in sorted_projects %}
  {% include archive-single.html %}
{% endfor %} -->

<!-- <ul>
{% for weight in (1..10) %}
  {% for post in site.projects %}
    {% if post.weight == weight %}
      {% for post in site.projects reversed %}
        {% include archive-single.html %}
      {% endfor %}
    {% endif %}
  {% endfor %}
{% endfor %}
</ul> -->

{% for post in site.projects reversed %}
  {% include archive-single.html %}
{% endfor %}

